/**********************全局样式开始**********************/
*{
    padding:0;
    margin:0;
}
body{
    font-family: "Microsoft YaHei UI Light";
    font-size: 14px;
}
ul > li {
    list-style: none;
}
a{
    text-decoration: none;
}
/***********************全局样式结束**********************/
/************************login.jsp样式开始*********************/
#app {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.login-container{
    background-clip: padding-box;
    margin: 180px auto;
    width: 350px;
    padding: 35px 35px 15px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 25px #cac6c6;
}
.title{
    margin: 0 auto 40px;
    text-align: center;
    color: #505458;
}
.item{
    margin-bottom: 22px;
}
.input{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    display: inline-block;
    font-size: inherit;
    width: 100%;
    height: 36px;
    line-height: 1;
    outline: 0;
    padding: 3px 10px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.submit{
    background-color: #20A0FF;
    width: 100%;
}
input:hover{
    border-color: #8391a5;
}
.item > label{
    display: block;
}
/************************login.jsp样式结束*********************/
/***********index.jsp样式开始************************/

#nav{
    width:16%;
    background-color: #e0e0e0;
    height:100%;
    float:left;
}
#nav .menu{
    height:50px;
    line-height: 50px;
    text-indent: 18px;
    font-size: 18px;
    background-color: #d0d0d0;
    border:1px solid #EEE8DD;
    cursor:hand;
    overflow-y:hidden;
}

.select{
    height:100px;
    text-align:left;
    font-weight:normal;
    background-color: #e0e0e0;
}
.select a{
    display:block;
    height:50px;
    line-height:50px;
    font-size:18px;
    text-indent:18px;
    text-align:left;
    font-weight:normal;
    color:#272727;
}
a:hover{
    color:#fff;
    background-color:gray;
}

/*工作内容操作*/
#content{
    width:84%;
    height:100%;
    float:left;
}
#content .display{
    margin-left:20px;
    height:40px;
    line-height: 40px;
}
#content .serch{
    height:50px;
    margin-left:20px;
    background-color: #e0e0e0;
}
#content .serch  .text{
    margin:7px 0 7px 20px;
    line-height: 36px;
    height:36px;
    width:260px;
    font-size:14px;
}
#content .serch  .submit{
    line-height: 34px;
    height:34px;
    width:42px;
    border:0px inset;
    color:#fff;
    background-color: #0080ff;
    font-size:16px;
    border-radius: 4px;
}
/********************表单样式开始************************/
.display_none{
    display: none;
}